* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.pa {
  display: flex;
  height: 400px;
  width: 500px;
  /* border: 1px solid black; */
  margin: 240px 500px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;

  height: 50px;
}



.ma-bot {
  margin: bottom 10px;
}

.chin {
  background-color: white;
}

.hai {
  background-color: #7ed386;
}

.ma-left {
  margin-left: 5px;
}

.ma-left1 {
  margin-left: 2px;
}

h1 {
  margin-bottom: 20px;
  color: #97d588;
}

input {
  
  border-color :#ffffff;
  border-bottom: 5px solid #c5e9e0;
}

button {
  color: #9fcfc5;
  background-color: #f0f0f0;
  border-color:#f0f0f0 ;
}

.P {
  font-size: 20px;
  font-weight: normal;
  padding-top: 12px;
}

.H {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-left: 10px;
  font-size: x-large;
}


div {
  /* border: 1px solid black; */ */
  /* /* background-color: aquamarine; */
}

#mb{
  height:35px;
  margin-top: 200px;
  margin-left:15px;
  background-color: #97d588;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  padding-top: 8px;
  color:antiquewhite
  
}

label{
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif
 
}

.t{
  height:79.6px;
  width: fit-content;
  padding-top: 35px;
}

#mb:hover{
  cursor:pointer;
  background-color: #3fb6a8;
  display:flex;
  flex-direction: column;
}



label:hover{
  cursor:pointer;
  background-color:#3fb6a8;
}

  svg{
    height:40px
  }
